<a href="https://colab.research.google.com/github/zhackerx/Nlp/blob/master/Nlpda3ques1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import json
import pandas as pd
from bs4 import BeautifulSoup 
import requests
import re

In [60]:
dframe = pd.read_csv('/content/drive/My Drive/GMB_dataset.txt', sep='\t', encoding="latin1")
dframe.dropna(inplace=True)
dframe[dframe.isnull().any(axis=1)].size
dframe.head()

   Unnamed: 0  Sentence #           Word  POS Tag
0           0         1.0      Thousands  NNS   O
1           1         1.0             of   IN   O
2           2         1.0  demonstrators  NNS   O
3           3         1.0           have  VBP   O
4           4         1.0        marched  VBN   O

In [0]:
mapping = dframe.set_index('Word').to_dict()['POS']

## Now we scrape the Hindu article of our choice to get the paragraph

In [63]:
print('Enter the url:')
url = input()
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')
paras = []
content = soup.findAll('div',attrs={"id":re.compile("^content-body")})
for x in content:
    temp = x.findAll('p')
    for i in temp:
        paras.append(i.getText())
paras = " ".join(paras)
paras = paras.replace("\n","")
paras = paras.replace("\xa0", ".")
paras

Enter the url:
https://www.thehindu.com/opinion/editorial/winning-formula-the-hindu-editorial-on-revival-of-formula-one/article31761427.ece

'Just as the various global sporting leagues slowly revive, Formula One will do so too following the announcement of an eight-race revised calendar starting with a double-header in Austria during July. Earlier, the season-opening Australian Grand Prix in March was cancelled at the eleventh hour after the whole contingent gathered at Melbourne when a member of the McLaren Formula One team tested positive for COVID-19. Since then, the sport has witnessed its first 10 rounds of the 22-race calendar either being cancelled or postponed. Recently the German football league, Bundesliga, restarted its season, while the Premier League is scheduled to commence later this month. However, unlike football or other domestic leagues that are localised and can be played in a controlled environment, F1 faces unique challenges due to its global footprint that hops across five continents through the year. It also requires a huge amount of personnel and cargo movements to run an event. With travel curbs across the world, the sport has restricted the initial eight races to its spiritual home of Europe, with Austria and Britain hosting multiple events. F1 has now adopted a set of operating procedures to get the show back on track, with every participant to be tested before and during the race weekend. Apart from there being no spectators, only 80 members per team will be allowed at the race track while the broadcast crew will be a mere 60. The reworked F1 will have 1,200 essential staff, previously close to 5,000. More importantly, with even a small-sized team employing nearly 300 to 400, from engineers to mechanics, the sport needs a start to keep the teams afloat not just this year but beyond as well. The F1 Group has already pledged to pay 100% of prize money to the teams, and for that it needs the show to go on. A minimum of eight races is needed to constitute a world championship and it is understood 15-18 races are required in a year to maximise the TV rights revenues especially at a time when the race-hosting fees, a major component of the F1 groupâ€™s revenue, is unlikely to be paid by the various countries. With jobs at stake, Formula One has made the right call to make its best attempt at starting the season. At the same time, the sport needs to be nimble to make quick decisions in case of unexpected scenarios, and the lessons learnt from Australia should hold the organisers in good stead. If F1 can demonstrate a good restart, it will inspire the rest of the sporting industry to get back on its feet.'

## Assign tag to any word that has a value in our mapping and write the result as a JSON object in entity1.txt

In [0]:
words = paras.split(" ")
result = {}
for i in words:
  if i in mapping.keys():
    result[i] = mapping[i]
with open('entity1.txt', 'w') as file:
     file.write(json.dumps(result))

## Here are some of the drawbacks of this approach:
- English is a massive language. The corpus used may not have the entity tags for some important words.
- Some words might be mis-tagged since the corpus gets its tags from sentences it has seen. It may be possible that the word used in the sentence is not in the same sense or meaning as the one used in the corpus.
\